<template data-controller-name="app.controllers.keyFieldsConfig.configuration">
    <div class="forms-wrapper">
        <div class="form-columns two-column">
            <div class="form-title">{{i18n 'GENERAL INFORMATION'}}</div>
            <div class="mandatory">
                <span>* {{i18n 'MANDATORY FIELD'}}</span>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'DOCUMENT TYPE'}}</div>
                            <div class="element" id="docType"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'DOCUMENT TYPE DESCRIPTION'}}</div>
                            <div class="element" id="docTypeDescription"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'STRUCTURE'}}</div>
                            <div class="element" id="structure"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'COMPONENT ORIGIN'}}</div>
                            <div class="element" id="componentOrigin"></div>
                        </div>
                        <!--<div class="column">-->
                        <!--</div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'KEYS'}}</div>
                            <div class="element" id="keys"></div>
                        </div>
                        <div class="column">
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'VALID FROM'}}</div>
                            <div class="element" id="validFrom"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'VALID TO'}}</div>
                            <div class="element" id="validTo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
