<template data-controller-name="app.controllers.keyFieldsConfig.infoRight">
	<div id="container">
		<div id="toolbar"></div>
	    <div id="tabs" class="tabs">
	        <div id="toolbar"></div>
        <div class="edit" id="show">
                <table class="edit">
                    <tbody>
                     <tr>
                        <td>
                            <div class="name-title">{{i18n 'GENERAL INFORMATION'}}</div>
                        </td>
                    </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'DOCUMENT TYPE'}}:</label>
                                <span id="docType" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'DESCRIPTION'}}:</label>
                                <span id="docTypeDescription" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'COMPONENT ORIGIN'}}:</label>
                                <span id="componentOrigin" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'STRUCTURE'}}:</label>
                                <span id="structure" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'KEYS'}}:</label>
                                <span id="keys" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'VALID FROM'}}:</label>
                                <span id="validFrom" class="infoField"></span>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label>{{i18n 'VALID TO'}}:</label>
                                <span id="validTo" class="infoField"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    </div>
	</div>
</template>