<template data-controller-name="app.controllers.keyFieldsConfig.tab">
    <div class="row">
        <div class="field" style="width:70%; float:left;"></div>
        <div class="add-icon"style="width:11%; float:left; margin-left: 4%">
            <span class="icon icon-font-Sign-and-Symbols icon-plussign icon-btn btn flat trans" ></span>
        </div>
        <div class="delete-icon" style="width:11%; float:left; margin-left: 4%">
            <span class="icon icon-font-Sign-and-Symbols icon-persign icon-btn btn flat trans"></span>
        </div>
    </div>
</template>
