<template data-controller-name="app.controllers.documentApproval.executeApprovalDialog">
    <div class="forms-wrapper">
        <div class="form-columns one-column">
            <div class="approval-dialog-title">{{i18n 'APPROVAL OPTIONS'}}:</div>
            <div class="column full">
                <div class="row">
                    <div class="label">{{i18n 'STATUS'}}</div>
                    <div class="element" id="status"></div>
                </div>
            </div>    
        </div>
    </div>
</template>