<template data-controller-name="app.controllers.fileStorage.infoRight">
	<div id="container">
		<div id="toolbar"></div>
	    <div id="tabs" class="tabs">
	        <div id="toolbar"></div>
        <div class="edit" id="show">
                <table class="edit">
                    <tbody>
                     <tr>
                        <td>
                            <div class="name-title">{{i18n 'GENERAL INFORMATION'}}</div>
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'COMPANY'}}:</label>
                                <span id="company" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'UF'}}:</label>
                                <span id="uf" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'BRANCH'}}:</label>
                                <span id="branch" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'TAX'}}:</label>
                                <span id="tax" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'DOCUMENT TYPE'}}:</label>
                                <span id="docType" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'DOCUMENT TYPE DESCRIPTION'}}:</label>
                                <span id="description" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'STATUS'}}:</label>
                                <span id="status" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'CLASSIFICATION'}}:</label>
                                <span id="classification" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'FILE NAME'}}:</label>
                                <span id="fileName" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LINK'}}:</label>
                                <span id="upload" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'KEY FIELD'}}:</label>
                                <span id="keyField1" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'KEY FIELD'}}:</label>
                                <span id="keyField2" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'VALID FROM'}}:</label>
                                <span id="validFrom" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'VALID TO'}}:</label>
                                <span id="validTo" class="infoField"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    </div>
	</div>
</template>