<template data-controller-name="app.controllers.storageLocationConfig.configuration">
    <div class="forms-wrapper">
        <div class="form-columns two-column">
            <div class="form-title">{{i18n 'GENERAL INFORMATION'}}</div>
            <div class="mandatory">
                <span>* {{i18n 'MANDATORY FIELD'}}</span>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'DOCUMENT TYPE'}}</div>
                            <div class="element" id="docType"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 1'}}</div>
                            <div class="element" id="level1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 2'}}</div>
                            <div class="element" id="level2"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 3'}}</div>
                            <div class="element" id="level3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 4'}}</div>
                            <div class="element" id="level4"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 5'}}</div>
                            <div class="element" id="level5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 6'}}</div>
                            <div class="element" id="level6"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 7'}}</div>
                            <div class="element" id="level7"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 8'}}</div>
                            <div class="element" id="level8"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 9'}}</div>
                            <div class="element" id="level9"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 10'}}</div>
                            <div class="element" id="level10"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'LEVEL 11'}}</div>
                            <div class="element" id="level11"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-columns two-columns">
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'VALID FROM'}}</div>
                            <div class="element" id="validFrom"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="label">{{i18n 'VALID TO'}}</div>
                            <div class="element" id="validTo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
