<template data-controller-name="app.controllers.storageLocationConfig.infoRight">
	<div id="container">
		<div id="toolbar"></div>
	    <div id="tabs" class="tabs">
	        <div id="toolbar"></div>
        <div class="edit" id="show"> <table class="edit">
                    <tbody>
                     <tr>
                        <td>
                            <div class="name-title">{{i18n 'GENERAL INFORMATION'}}</div>
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'DOCUMENT TYPE'}}:</label>
                                <span id="docType" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 1'}}:</label>
                                <span id="level1" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'LEVEL 2'}}:</label>
                                <span id="level2" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 3'}}:</label>
                                <span id="level3" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'LEVEL 4'}}:</label>
                                <span id="level4" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 5'}}:</label>
                                <span id="level5" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'LEVEL 6'}}:</label>
                                <span id="level6" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 7'}}:</label>
                                <span id="level7" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'LEVEL 8'}}:</label>
                                <span id="level8" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 9'}}:</label>
                                <span id="level9" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'LEVEL 10'}}:</label>
                                <span id="level10" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'LEVEL 11'}}:</label>
                                <span id="level11" class="infoField"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>{{i18n 'VALID FROM'}}:</label>
                                <span id="validFrom" class="infoField"></span>
                            </td>
                            <td>
                                <label>{{i18n 'VALID TO'}}:</label>
                                <span id="validTo" class="infoField"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    </div>
	</div>
</template>